@use '../../utils' as *;

/*----------------------------------------*/
/*  4.1 About css
/*----------------------------------------*/
.thumb-two-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-thumb-wrap {
    &.style-one {
        display: flex;
        gap: 20px;
        max-width: 600px;
        margin: 0 0 0 auto;
        position: relative;
        @media #{$xs,$sm,$md} {
            max-width: 100%;
            margin: 0;
        }
        .round-box-inner {
            position: relative;
            @media #{$xs,$sm,$md} {
                position: static;
            }
            .round-box {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                z-index: -1;
            }
            .round-icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: #FFFFFF;
                box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
                height: 100px;
                width: 100px;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: calc(50% + 20px);
                transform: translate(-50%, -50%);
            }
            .round {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--bd-border-primary);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                @media #{$xs,$sm,$md, $lg} {
                    display: none;
                }
                &.one {
                    width: 190px;
                    height: 190px;
                }
                &.two {
                    width: 288px;
                    height: 288px;
                }
                &.three {
                    width: 380px;
                    height: 380px;
                }
            }   
        }
    }
}
.about-tab {
    margin-bottom: 45px;
    .bd-tab {
        .nav-tabs {
            display: flex;
            gap: 20px 35px;
            margin-bottom: 30px;
            .nav-link {
                font-size: 20px;
                font-weight: var(--bd-fw-medium);
                color: #CCCCCC;
                @media #{$xs,$sm} {
                    font-size: 18px;
                }
                &.active {
                    color: var(--bd-heading);
                }
            }
        }
    }
}
.img-custom-anim-right {
    animation: img-anim-right 1.3s forwards cubic-bezier(.645, .045, .355, 1) .3s;
    opacity: 0;
}
@keyframes img-anim-right {
    0% {
        transform: translateX(5%);
        clip-path: inset(0 0 0 100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}
.img-custom-anim-left {
    animation: img-anim-left 1.3s forwards cubic-bezier(.645, .045, .355, 1) .3s;
    opacity: 0;
}
@keyframes img-anim-left {
    0% {
        transform: translateX(-5%);
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.img-custom-anim-top {
    animation: img-anim-top 1.3s forwards cubic-bezier(.645, .045, .355, 1);
    opacity: 0;
}

@keyframes img-anim-top {
    0% {
        transform: translateY(-5%);
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.image-hover-effect a {
    position: relative;
    overflow: hidden;
    display: block;

    &:hover {
        &::after {
            height: 250%;
            transition: all 600ms linear;
            background-color: transparent;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: rgba(255, 255, 255, .3);
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 1;
    }
}
.image-hover-effect-two {
    overflow: hidden;
    display: block;

    &:hover {
        &::after {
            height: 250%;
            transition: all 600ms linear;
            background-color: transparent;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: rgba(255, 255, 255, .3);
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 1;
    }
}

// About style two
.about-content-item {
    .single-item {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: start;
        gap: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .content {
            h3 {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
    
}
