@use '../../utils' as *;

/*----------------------------------------*/
/*  4.4 category css
/*----------------------------------------*/

// Related style
.related-item {
    .thumb {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    .content {
        & > .title {
            font-size: 28px;
            margin-bottom: 30px;
            a {
                &:hover {
                    color: var(--bd-primary);
                }
            }
        }
    }
    .meta-inner {
        padding-top: 25px;
        border-top: 1px solid #dddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bd-meta {
       .meta-item {
        .icon {
            color: #B9B9B9;
            font-size: 20px;
        }
       }
    }
}
.related-slider-active {
    .swiper-wrapper {
        .swiper-slide {
            &:nth-child(2n+1) {
                margin-top: 60px;
            }
        }
    }
}

