@use '../../utils' as *;

/*----------------------------------------*/
/*  4.25 Testimonial CSS
/*----------------------------------------*/
.testimonials-item {
    &.style-one {
        padding: 40px 40px;
        background-color: var(--bd-white);
        @media #{$xs,$md} {
            padding: 30px 30px;
        }
    }
    .title-inner {
        margin-bottom: 20px;
        display: flex;
        align-content: center;
        gap: 10px;
        .title {
            font-size: 24px;
            @media #{$xs,$md} {
                font-size: 22px;
            }
        }
    }
    .description {
        margin-bottom: 30px;
    }
}
.admin-item {
	display: flex;
	align-items: center;
	gap: 20px;
    .admin-thumbnail {
        max-width: 60px;
    }
    .admin-name {
        font-size: 18px;
        margin-bottom: 3px;
    }
}
.testimonial-active {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #f0f6f8;
        right: 100%;
        z-index: 5;
    }
}

// testimonial style two
.testimonial-shapes {
    .shape-one {
        position: absolute;
        top: 0;
        right: 160px;
        z-index: -1;
    }
}
.testimonials-info-wrapper {
    height: 100%;
    background: var(--bd-white);
    padding: 125px 50px;
}
.testimonials-info-item {
	border-bottom: 1px solid var(--bd-border-primary);
	padding-bottom: 50px;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
    .content {
        .title {
            font-size: 80px;
            line-height: 1;
            margin-bottom: 10px;
        }
    }
}
.testimonial-content-two {
	padding-left: 70px;
}
.testimonials-item {
    &.style-two {
        .rating {
            display: inline-block;
            border: 1px solid var(--bd-black);
            padding: 2px 12px;
            border-radius: 30px;
            margin-bottom: 30px;
            span {
                font-size: 14px;
            }
        }
        .title {
            font-size: 48px;
            margin-bottom: 80px;
            font-weight: var(--bd-fw-medium);
            line-height: 1.2;
        }
        .admin-item {
            .admin-thumbnail {
                max-width: 80px;
            }
        }
    }
}
.admin-nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonial-nav-prev,
.testimonial-nav-next {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--bd-black);
    border-radius: 50%;
    font-size: 20px;
    color: var(--bd-white);
    &:hover {
        background-color: var(--bd-primary);
        color: var(--bd-white);
    }
}
.testimonial-nav-prev {
    transform: translateX(20px);
    background-color: var(--bd-white);
    color: var(--bd-black);
}